<div class="row">
    <div class="col-md-8 mx-2 p-3 bg-blogs">
        <h2>{{name}}
            {{!-- Conditional statement that only allows people logged in to edit blog --}}
            {{#if logged_in}}
            <a href="/blogs/edit/{{id}}"><button class="btn btn-sm btn-warning float-right" id="edit-btn"
                    data-id="{{id}}"><i class="fa fa-edit"></i></button></a>
            {{/if}}
        </h2>

        <div class="row">
            <div class="col-auto">
                <p class="text-secondary">{{description}}</p>
            </div>
        </div>

    </div>
    {{!-- Conditional statement that only allows people logged in to add comments --}}
    {{#if logged_in}}
    <div class="col-md-3 mx-2 text-white bg-secondary p-3">
        <h3>Add a comment:</h3>

        <form class="form new-comment-form">
            <div class="form-group">
                <label for="comment-body">Comment:</label>
                <br>
                <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Add</button>
            </div>
        </form>
    </div>
    {{/if}}
</div>
<div class="row">
    <div class="col-md-8 mx-2 bg-dark">
        <p class="text-secondary pt-2 text-right">posted by {{user.name}} on {{format_date date_created}}</p>
    </div>
</div>

{{!-- Links comments partial --}}

{{> comments comments}}

<script src="/js/comment.js"></script>